@{
    ViewBag.Title = "Home Page";
}

<!---- Full Width Responsive Slider -->

<div class="cycle-slideshow"
    data-cycle-slides="> div"
    >
    <span class="cycle-prev">&#9001;</span>
    <span class="cycle-next">&#9002;</span>
    <span class="cycle-pager"></span>
    <div>
        <img src="~/images/wood_pic.jpg" alt="wood" />
    </div>
    <div>
        <img src="~/images/galaxy.jpg" />
    </div>
    <div>
        <img src="~/images/forest.jpg" />
    </div>
    <div>
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <p>stuff stuff</p>
                <a href="http://www.google.com">Link</a>
            </div>
            <div class="col-md-9 col-sm-9">
                <img src="~/images/galaxy.jpg" />
            </div>
        </div>
    </div>
</div>

<!---- End Full Width Responsive Slider -->